body {
    background-image: url('https://img.freepik.com/free-vector/gradient-pastel-sky-background_52683-60513.jpg?w=2000');
    background-size: cover;
    text-align: center;
    background-size: center;
    background-repeat: no-repeat;
    font-family: 'Acme', sans-serif;
}

#container {
    background-color: #00ffdd;
    margin-top: -20px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(255, 0, 0);
}

.headings1 {
    font-size: 80px;
    color: rgb(107, 104, 104);
    text-shadow: 5px 2px 2px white;
}

#status {
    color: rgb(255, 123, 0);
    font-size: 60px;
    background-color: rgb(112, 109, 109);
    width: max-content;
    padding: 10px;
    border-radius: 5px;
}

#pop {
    right: 0;
    position: fixed;
    margin-right: 10px;
    background-color: orangered;
    color: aliceblue;
    border-radius: 5px;
}

.modal-dialog {
    width: 45%;
}

canvas {
    margin-top: 160px;
    box-shadow: orangered;
    border-radius: 5px 5px 5px black;
}

#bed {
    color: rgb(255, 123, 0);
    font-size: 60px;
    background-color: rgb(112, 109, 109);
    width: max-content;
    padding: 10px;
    border-radius: 5px;
}